<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/gutenberg-css@0.4.4/dist/gutenberg.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flexboxgrid@6.3.1/dist/flexboxgrid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <style>
        body {
            font-family: 'Bitter', serif;
        }
        p {
                line-height: 1.9em;
        }
        h1 {
            color: #{{ color_scheme.text_header_color }};
        }
        article {
            color: #{{ color_scheme.text_paragraph_color }};
        }
    </style>
</head>
<body style="background-color: #{{ color_scheme.background_color }} !important;">
<div class="row center-md">
    <div class="col-md-8">
        <h1 style="font-family: 'Bitter', serif;">{{ article.title }}</h1>
        <article style="text-align: left">
            {{ article.content | safe }}
        </article>
    </div>
</div>
</body>
</html>
