
[Unit]
Description=Visualizer Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop {{ visualizer_container_name }}
ExecStartPre=-/usr/bin/docker rm -f {{ visualizer_container_name }}
ExecStartPre=/usr/bin/docker pull dockersamples/visualizer
ExecStart=/usr/bin/docker run \
    --rm \
    --name {{ visualizer_container_name }} \
    --publish {{ visualizer_local_port }}:8080 \
    --volume /var/run/docker.sock:/var/run/docker.sock \
    dockersamples/visualizer

[Install]
WantedBy=multi-user.target
