[Unit]
Description=Docker registry Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop {{ docker_registry_container_name }}
# ExecStartPre=-/usr/bin/docker rm -f {{ docker_registry_container_name }} #
# ExecStartPre=/usr/bin/docker pull registry #
ExecStart=/usr/bin/docker run \
    --rm \
    --publish {{ docker_registry_http_port }}:5000 \
    --name {{ docker_registry_container_name }} \
    --volume {{ docker_registry_data_directory }}:/var/lib/registry \
    registry

[Install]
WantedBy=multi-user.target
