<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        li.hidden ul {
            display: none;
        }
    </style>

</head>
<body>
<ul style="padding: 0" class="panel">
    {% for category in categories %}
        <li class="hidden subpanel">
            {{ category.title }}
            <ul style="padding: 0">
                {% for feed in category.feeds.all %}
                    <li title="{{ feed.title }}">{{ feed.title | truncatechars:15 }}</li>
                {% empty %}
                {% endfor %}
            </ul>
        </li>
    {% empty %}
    {% endfor %}
</ul>
<script>
(() => {
    const uls = document.querySelectorAll('li.subpanel');
    Array.from(uls).forEach((elem) => {
        elem.addEventListener('click', () => {
            elem.classList.toggle('hidden');
        });
    });
})();
</script>
</body>
</html>
